<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TEAM_FILE" value="C:\Applications\Testing\SolrCodeCamp\Data\IDS\TEAMABR.TXT"/>
    <add key="PEOPLE_FILE" value="C:\Applications\Testing\SolrCodeCamp\Data\IDS\people.txt"/>
    <add key="FILES_DIR" value="C:\Applications\Testing\SolrCodeCamp\Data"/>
    <add key="SOLR_LOCATION" value="http://localhost:9091/solr"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
