body
{
	background-color: #CCFFCC;
}
.facet_box
{
	width: 150px;
}
.facet_title
{
	font-weight: bold;
}

#query_results
{
	background-color: #FFF;
}

#query_results td
{
	padding: 10px;
}

.number_cell
{
	text-align: right;
}

.number_cell_foot
{
	text-align: right;
	font-weight:bold;
	border-top:1px solid #000;
}

.records_found
{
	font-weight:bold;
	float:right;
}

.clear
{
	clear:both;
}